<header id="header-mobile">
	<div id="non-hidden-mobile">
		<div id="header-header-left-mobile">
			<a id="header-favicon-mobile" href="#"></a>
			<div id="header-18t-mobile"></div>
			<a id="header-small-logo-mobile" href="#"></a>
		</div>
		<nav id="header-header-right-mobile">
			<a id="header-home-button-mobile" href="#"></a>
			<a id="header-fanpage-button-mobile" href="#"></a>
			<a id="header-see-more-button-mobile" active="false" href="#"></a>
			<button id="header-music-button-mobile" active="false"></button>
		</nav>
	</div>
	<div id="header-hidden-mobile">
		<nav id="header-hidden-mobile-button-container">
			<a href="#">Group</a>
			<a href="#">Youtube</a>
			<a href="#">Tiktok</a>
			<a href="#">Lên đầu trang</a>
		</nav>
	</div>
</header>
