<header id="header-mobile">
	<div id="non-hidden-mobile">
		<div id="header-header-left-mobile">
			<div id="header-favicon-mobile"></div>
			<div id="header-18t-mobile"></div>
			<div id="header-small-logo-mobile"></div>
		</div>
		<div id="header-header-right-mobile">
			<button id="header-home-button-mobile"></button>
			<button id="header-fanpage-button-mobile"></button>
			<button id="header-see-more-button-mobile" active="false"></button>
			<button id="header-music-button-mobile" active="false"></button>
		</div>
	</div>
	<div id="header-hidden-mobile">
		<div id="header-hidden-mobile-button-container">
			<button>Group</button>
			<button>Youtube</button>
			<button>Tiktok</button>
			<button>Lên đầu trang</button>
		</div>
	</div>
</header>
