<div id="frame3-container" class="container-type">
	<div id="frame3-title"></div>
	<div class="frame3-swiper">
		<div class="swiper-wrapper">
			<div class="frame3-slide swiper-slide">
				<a
					data-fancybox
					href="//img.zing.vn/upload/nmgh/source/Static/test/Tây Vực Huyễn Mộng - Già Lam Xuất Thế.png">
					<img
						class="lazyload frame3-slide-img"
						data-src="//img.zing.vn/upload/nmgh/source/Static/test/Tây Vực Huyễn Mộng - Già Lam Xuất Thế.png" />
				</a>
				<a
					data-fancybox
					href="//img.zing.vn/upload/nmgh/source/Static/mb/Tây Vực huyễn mộng - Già Lam xuất thế.png">
					<img
						class="lazyload frame3-slide-img-mobile"
						data-src="//img.zing.vn/upload/nmgh/source/Static/mb/Tây Vực huyễn mộng - Già Lam xuất thế.png"
				/></a>
			</div>
			<div class="frame3-slide swiper-slide">
				<a
					data-fancybox
					href="//img.zing.vn/upload/nmgh/source/Static/test/Map mới Tây Vực.png">
					<img
						class="lazyload frame3-slide-img"
						data-src="//img.zing.vn/upload/nmgh/source/Static/test/Map mới Tây Vực.png"
				/></a>
				<a
					data-fancybox
					href="//img.zing.vn/upload/nmgh/source/Static/mb/bản đồ Tây Vực.png">
					<img
						class="lazyload frame3-slide-img-mobile"
						data-src="//img.zing.vn/upload/nmgh/source/Static/mb/bản đồ Tây Vực.png"
				/></a>
			</div>
			<div class="frame3-slide swiper-slide">
				<a
					data-fancybox
					href="//img.zing.vn/upload/nmgh/source/Static/test/Tính năng mới Thần Cơ Vạn Trượng.png">
					<img
						class="lazyload frame3-slide-img"
						data-src="//img.zing.vn/upload/nmgh/source/Static/test/Tính năng mới Thần Cơ Vạn Trượng.png"
				/></a>
				<a
					data-fancybox
					href="//img.zing.vn/upload/nmgh/source/Static/mb/Tính năng mới Thần Cơ Vạn Tượng.png">
					<img
						class="lazyload frame3-slide-img-mobile"
						data-src="//img.zing.vn/upload/nmgh/source/Static/mb/Tính năng mới Thần Cơ Vạn Tượng.png"
				/></a>
			</div>
			<div class="frame3-slide swiper-slide">
				<a
					data-fancybox
					href="//img.zing.vn/upload/nmgh/source/Static/test/Cốt truyện mới.png">
					<img
						class="lazyload frame3-slide-img"
						data-src="//img.zing.vn/upload/nmgh/source/Static/test/Cốt truyện mới.png"
				/></a>
				<a
					data-fancybox
					href="//img.zing.vn/upload/nmgh/source/Static/mb/cốt truyện mới.png">
					<img
						class="lazyload frame3-slide-img-mobile"
						data-src="//img.zing.vn/upload/nmgh/source/Static/mb/cốt truyện mới.png"
				/></a>
			</div>
			<div class="frame3-slide swiper-slide">
				<a
					data-fancybox
					href="//img.zing.vn/upload/nmgh/source/Static/test/Phó bản mới Đào Hoa Nguyên.png">
					<img
						class="lazyload frame3-slide-img"
						data-src="//img.zing.vn/upload/nmgh/source/Static/test/Phó bản mới Đào Hoa Nguyên.png"
				/></a>
				<a
					data-fancybox
					href="//img.zing.vn/upload/nmgh/source/Static/mb/Phó bản mới Đào Hoa Nguyên.png">
					<img
						class="lazyload frame3-slide-img-mobile"
						data-src="//img.zing.vn/upload/nmgh/source/Static/mb/Phó bản mới Đào Hoa Nguyên.png"
				/></a>
			</div>
			<div class="frame3-slide swiper-slide">
				<a
					data-fancybox
					href="//img.zing.vn/upload/nmgh/source/Static/test/Khinh công mới.png">
					<img
						class="lazyload frame3-slide-img"
						data-src="//img.zing.vn/upload/nmgh/source/Static/test/Khinh công mới.png"
				/></a>
				<a
					data-fancybox
					href="//img.zing.vn/upload/nmgh/source/Static/mb/Khinh công mới.png">
					<img
						class="lazyload frame3-slide-img-mobile"
						data-src="//img.zing.vn/upload/nmgh/source/Static/mb/Khinh công mới.png"
				/></a>
			</div>
			<div class="frame3-slide swiper-slide">
				<a
					data-fancybox
					href="//img.zing.vn/upload/nmgh/source/Static/test/Hẹn ước tri kỉ.png">
					<img
						class="lazyload frame3-slide-img"
						data-src="//img.zing.vn/upload/nmgh/source/Static/test/Hẹn ước tri kỉ.png"
				/></a>
				<a
					data-fancybox
					href="//img.zing.vn/upload/nmgh/source/Static/mb/Hẹn ước tri kỷ.png">
					<img
						class="lazyload frame3-slide-img-mobile"
						data-src="//img.zing.vn/upload/nmgh/source/Static/mb/Hẹn ước tri kỷ.png"
				/></a>
			</div>
		</div>
		<div class="swiper-pagination"></div>
		<div class="swiper-button-prev"></div>
		<div class="swiper-button-next"></div>
	</div>
</div>
