<div id="frame4-container">
	<div id="frame4-title"></div>
	<div id="frame4-button-container">
		<button
			class="frame4-button frame4-button-green"
			data-fancybox
			data-options='{"buttons":[]}'
			href="#popup-thele">
			Thể Lệ
		</button>
		<button class="frame4-button frame4-button-green">Phần Thưởng</button>
		<button
			class="frame4-button frame4-button-yellow"
			data-fancybox
			data-options='{"buttons":[]}'
			href="#popup-dangky">
			Đăng Ký
		</button>
		<button class="frame4-button frame4-button-green">Lịch Trình</button>
		<button class="frame4-button frame4-button-green">Chiến Độ</button>
	</div>
	<div id="frame4-button-container-mobile">
		<button
			class="frame4-button frame4-button-green"
			data-fancybox
			data-options='{"buttons":[]}'
			href="#popup-thele">
			Thể Lệ
		</button>
		<button class="frame4-button frame4-button-green">Phần Thưởng</button>
		<button
			class="frame4-button frame4-button-yellow"
			data-fancybox
			data-options='{"buttons":[]}'
			href="#popup-dangky">
			Đăng Ký
		</button>
		<button class="frame4-button frame4-button-green">Lịch Trình</button>
		<button class="frame4-button frame4-button-green">Chiến Độ</button>
	</div>
</div>
