<section id="frame4-container" class="container-type">
	<h2 id="frame4-title"></h2>
	<div id="frame4-button-container">
		<a class="frame4-button frame4-button-green animate__animated" data-fancybox data-options='{"buttons":[]}' href="#popup-thele" data-scroll-watch i="0">
			Thể Lệ
		</a>
		<a class="frame4-button frame4-button-green animate__animated" href="#" data-scroll-watch i="1">Phần Thưởng</a>
		<a class="frame4-button frame4-button-yellow animate__animated" data-fancybox data-options='{"buttons":[]}' href="#popup-dangky" data-scroll-watch i="2">
			Đăng Ký
		</a>
		<a class="frame4-button frame4-button-green animate__animated"  href="#" data-scroll-watch i="3">Lịch Trình</a>
		<a class="frame4-button frame4-button-green animate__animated"  href="#" data-scroll-watch i="4">Chiến Độ</a>
	</div>
	<div id="frame4-button-container-mobile">
		<a class="frame4-button frame4-button-green" data-fancybox data-options='{"buttons":[]}' href="#popup-thele">
			Thể Lệ
		</a>
		<a class="frame4-button frame4-button-green"  href="#">Phần Thưởng</button>
		<a class="frame4-button frame4-button-yellow" data-fancybox data-options='{"buttons":[]}' href="#popup-dangky">
			Đăng Ký
		</a>
		<a class="frame4-button frame4-button-green"  href="#">Lịch Trình</a>
		<a class="frame4-button frame4-button-green"  href="#">Chiến Độ</a>
	</div>
</section>
