<div id="frame5-container">
	<div id="frame5-title"></div>
	<div id="frame5-button-container">
		<div class="frame5-button"></div>
		<div class="frame5-button"></div>
		<div class="frame5-button"></div>
		<div class="frame5-button"></div>
		<div class="frame5-button"></div>
		<div class="frame5-button"></div>
	</div>
	<div id="frame5-button-container-mobile" class="frame5-swiper">
		<div class="swiper-wrapper">
			<div class="frame5-slide swiper-slide"></div>
			<div class="frame5-slide swiper-slide"></div>
			<div class="frame5-slide swiper-slide"></div>
			<div class="frame5-slide swiper-slide"></div>
			<div class="frame5-slide swiper-slide"></div>
			<div class="frame5-slide swiper-slide"></div>
		</div>
		<div class="swiper-pagination"></div>
	</div>
</div>
