<section id="frame5-container" class="container-type">
	<h2 id="frame5-title"></h2>
	<div id="frame5-button-container">
		<a class="frame5-button" href="#"></a>
		<a class="frame5-button" href="#"></a>
		<a class="frame5-button" href="#"></a>
		<a class="frame5-button" href="#"></a>
		<a class="frame5-button" href="#"></a>
		<a class="frame5-button" href="#"></a>
	</div>
	<div id="frame5-button-container-mobile" class="frame5-swiper">
		<div class="swiper-wrapper">
			<a class="frame5-slide swiper-slide" href="#"></a>
			<a class="frame5-slide swiper-slide" href="#"></a>
			<a class="frame5-slide swiper-slide" href="#"></a>
			<a class="frame5-slide swiper-slide" href="#"></a>
			<a class="frame5-slide swiper-slide" href="#"></a>
			<a class="frame5-slide swiper-slide" href="#"></a>
		</div>
		<div class="swiper-pagination"></div>
	</div>
</section>
