#frame5-container {
	background-image: url("./assets/frame5_bg.jpg");
	width: 1920px;
	height: 1080px;
	position: relative;
	padding-top: 41px;
}

#frame5-title {
	background-image: url("./assets/frame5_title.png");
	width: 573px;
	height: 115px;
	margin-inline: auto;
}

#frame5-button-container {
	display: flex;
	gap: 26px;
	position: absolute;
	top: 221px;
	left: 335px;
}

.frame5-button {
	width: 186px;
	height: 685px;
}

#frame5-button-container .frame5-button:nth-child(1) {
	background-image: url("./assets/frame5_banner_1.png");
}

#frame5-button-container .frame5-button:nth-child(2) {
	background-image: url("./assets/frame5_banner_2.png");
}

#frame5-button-container .frame5-button:nth-child(3) {
	background-image: url("./assets/frame5_banner_3.png");
}

#frame5-button-container .frame5-button:nth-child(4) {
	background-image: url("./assets/frame5_banner_4.png");
}

#frame5-button-container .frame5-button:nth-child(5) {
	background-image: url("./assets/frame5_banner_5.png");
}

#frame5-button-container .frame5-button:nth-child(6) {
	background-image: url("./assets/frame5_banner_6.png");
}

#frame5-button-container .frame5-button:nth-child(1):hover {
	background-image: url("./assets/frame5_banner_1_hover.png");
}

#frame5-button-container .frame5-button:nth-child(2):hover {
	background-image: url("./assets/frame5_banner_2_hover.png");
}

#frame5-button-container .frame5-button:nth-child(3):hover {
	background-image: url("./assets/frame5_banner_3_hover.png");
}

#frame5-button-container .frame5-button:nth-child(4):hover {
	background-image: url("./assets/frame5_banner_4_hover.png");
}

#frame5-button-container .frame5-button:nth-child(5):hover {
	background-image: url("./assets/frame5_banner_5_hover.png");
}

#frame5-button-container .frame5-button:nth-child(6):hover {
	background-image: url("./assets/frame5_banner_6_hover.png");
}

@media screen and (max-width: 750px) {
	#frame5-container {
		background-image: url("./assets/mobile/frame5_bg_mobile.jpg");
		width: 750px;
		height: 1253px;
	}

	#frame5-button-container {
		display: none;
	}
}
