<div id="popup-dangky" hidden>
	<div class="popup-inner">
		<div class="popup-content">
			<div id="dangky-title"></div>
			<div id="dangky-content">
				<form>
					<div id="dangky-input-container">
						<input id="name-input" placeholder="TÊN" />
						<input id="id-input" placeholder="ID" />
						<input id="server-input" placeholder="MÁY CHỦ" />
					</div>
					<div id="dangky-button-container">
						<button id="dangky-cancel-button" type="button"></button>
						<button id="dangky-ok-button"></button>
					</div>
				</form>
			</div>
		</div>
		<button class="popup-close-button"></button>
	</div>
</div>
