<footer>
	<div id="frame5-text-container">
		<p>Công ty Cổ phần VNG</p>
		<p>
			Địa chỉ trụ sở: Z06, Đường 13, phường Tân Thuận Đông, Quận 7, Thành phố Hồ
			Chí Minh, Việt Nam.
		</p>
		<p>
			Quyết định phê duyệt nội dung kịch bản trò chơi điện tử G1 trên mạng số:
			693/QĐ-BTTTT do Bộ Thông tin và Truyền thông cấp ngày 24/05/2021
		</p>
		<div id="footer-button">ĐIỀU KHOẢN TRÒ CHƠI</div>
	</div>
</footer>
