<div id="frame2-container" class="container-type">
	<div id="frame2-title"></div>
	<div id="frame2-info">
		<div id="frame2-button-container">
			<div class="decor-ball" id="decor-ball-1"></div>
			<button id="frame2-male-button" active="true">Thành Nam</button>
			<div class="decor-ball" id="decor-ball-2" hidden></div>
			<div class="decor-ball" id="decor-ball-3" hidden></div>
			<button id="frame2-female-button" active="false">Thành Nữ</button>
			<div class="decor-ball" id="decor-ball-4"></div>
		</div>
	</div>
	<div class="frame2-swiper-character">
		<div class="swiper-wrapper">
			<div class="swiper-slide">
				<div
					data-swiper-animation="animate__fadeInUpBig"
					data-duration=".5s"
					data-delay="0s"
					data-swiper-out-animation="animate__fadeOutDownBig"
					data-out-duration=".5s"
					id="frame2-character-display"
					gender="male"></div>
			</div>
			<div class="swiper-slide">
				<div
					data-swiper-animation="animate__fadeInUpBig"
					data-duration=".5s"
					data-delay="0s"
					data-swiper-out-animation="animate__fadeOutDownBig"
					data-out-duration=".5s"
					id="frame2-character-display"
					gender="female"></div>
			</div>
		</div>
	</div>
	<div id="frame2-video-container">
		<video autoplay muted loop>
			<source
				src="//img.zing.vn/products/nmgh/landing/2022-tay-vuc-huyen-mong/prod/nmgh_tayvuc/new_char/video-mp.mp4"
				type="video/mp4" />
		</video>
	</div>
	<a data-fancybox="youtube" href="https://www.youtube.com/watch?v=ML1LehoFRgU">
		<button id="frame2-video-button-mobile"></button>
	</a>
</div>
