html {
	scroll-behavior: smooth;
}

body {
	padding: 0;
	margin: 0;
	overflow-x: hidden !important;
	height: 100vh;
	position: relative;
}

* {
	font-family: "Nanum Gothic", sans-serif;
	background-repeat: no-repeat;
	box-sizing: border-box;
}

#outer-root {
	width: fit-content;
	overflow: hidden;
}

#root {
	width: 1920px;
}

.container-type {
	width: 100%;
	background-size: 100% 100%;
}

@media screen and (max-width: 750px) {
	#root {
		width: 750px;
	}
}

button {
	background-color: transparent;
	border: none;
	cursor: pointer;
}

input {
	border: none;
}

@keyframes infinite-spin {
	0% {
		rotate: 0;
	}
	100% {
		rotate: 360deg;
	}
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
}

a {
	text-decoration: none;
	color: inherit;
}

[data-scroll-watch] {
	opacity: 0;
}

.scroll-watch-in-view,
.scroll-watch-ignore {
	opacity: 1;
}
