<section id="frame1-container" class="container-type">
	<video muted autoplay loop></video>
	<header id="header">
		<div id="frame1-header-left">
			<div id="frame1-18t"></div>
			<a id="frame1-small-logo" href="#"></a>
		</div>
		<div id="frame1-header-right">
			<nav id="frame1-menu-container">
				<a id="frame1-menu-home-button" href="#">TRANG CHỦ</a>
				<div>
					<a class="frame1-menu-button" id="frame1-menu-fb-button" href="#"></a>
					<a class="frame1-menu-button" id="frame1-menu-group-button" href="#"></a>
					<a class="frame1-menu-button" id="frame1-menu-play-button" href="#"></a>
				</div>
			</nav>
			<button id="frame1-music-button" active="false"></button>
		</div>
	</header>
	<div id="frame1-title">
		<a data-fancybox="youtube" href="https://www.youtube.com/watch?v=qCw1v9_ZI3k">
			<span id="frame1-big-play-button"> <button id="frame1-big-play-button-spin"></button> </span>
		</a>
	</div>
	<div id="frame1-download-container">
		<a id="frame1-download-pc" href="#"></a>
		<div>
			<a id="frame1-download-ios" href="#"></a>
			<a id="frame1-download-android" href="#"></a>
		</div>
		<a id="frame1-napthe" href="#">
			<span></span>
		</a>
	</div>
	<a id="frame1-download-button-mobile" href="#"></a>
</section>
