<div id="frame1-container" class="container-type">
	<video muted autoplay loop></video>
	<header id="header">
		<div id="frame1-header-left">
			<div id="frame1-18t"></div>
			<div id="frame1-small-logo"></div>
		</div>
		<div id="frame1-header-right">
			<div id="frame1-menu-container">
				<button id="frame1-menu-home-button">TRANG CHỦ</button>
				<div>
					<button
						class="frame1-menu-button"
						id="frame1-menu-fb-button"></button>
					<button
						class="frame1-menu-button"
						id="frame1-menu-group-button"></button>
					<button
						class="frame1-menu-button"
						id="frame1-menu-play-button"></button>
				</div>
			</div>
			<button id="frame1-music-button" active="false"></button>
		</div>
	</header>
	<header id="header-mobile">
		<div id="non-hidden-mobile">
			<div id="frame1-header-left-mobile">
				<div id="frame1-favicon-mobile"></div>
				<div id="frame1-18t-mobile"></div>
				<div id="frame1-small-logo-mobile"></div>
			</div>
			<div id="frame1-header-right-mobile">
				<button id="frame1-home-button-mobile"></button>
				<button id="frame1-fanpage-button-mobile"></button>
				<button id="frame1-see-more-button-mobile" active="false"></button>
				<button id="frame1-music-button-mobile" active="false"></button>
			</div>
		</div>
		<div id="frame1-hidden-mobile">
			<div id="frame1-hidden-mobile-button-container">
				<button>Group</button>
				<button>Youtube</button>
				<button>Tiktok</button>
				<button>Lên đầu trang</button>
			</div>
		</div>
	</header>
	<div id="frame1-title">
		<a
			data-fancybox="youtube"
			href="https://www.youtube.com/watch?v=qCw1v9_ZI3k">
			<div id="frame1-big-play-button">
				<button id="frame1-big-play-button-spin"></button>
			</div>
		</a>
	</div>
	<div id="frame1-download-container">
		<button id="frame1-download-pc"></button>
		<div>
			<button id="frame1-download-ios"></button>
			<button id="frame1-download-android"></button>
		</div>
		<button id="frame1-napthe">
			<div></div>
		</button>
	</div>
	<button id="frame1-download-button-mobile"></button>
</div>
